.posts-wrapper
  .post
    .post-body
      .image-wrap
        h4.text-center Change your profile image
        = image_tag @curr_image, id: 'image-preview', class: 'img-responsive', alt: ''
        = simple_form_for @user, html: { multipart: true }, url: update_profile_path(@user.user_name) do |f|
          .row
            .col-md-12.text-center
              = f.error_notification
          .container-fluid
            .form-group.text-center
              h4 Edit your bio
              = f.input :image, label: false, input_html: { onChange: 'loadFile(event)' }
            .form-group.text-center
              = f.input :bio, as: :text, label: false, placeholder: 'Add a caption', input_html: { class: 'form-control' }
            .form-group.text-center
              = f.button :submit, class: 'btn-success btn-block'
