$('#posts-container').append("<%= escape_javascript(render @posts) %>");
$('#paginator').html("<%= escape_javascript(link_to_next_page @posts, 'Load More', :remote => true, class: 'btn btn-default', role: 'button') %>");
if ($('#paginator').is(':empty')){
  $('#paginator').html("<p style='color:gray'>Nothing more to load<p>");
}
