.profile-wrapper
  .row
    .col-sm-4
      = image_tag @curr_image, class: 'img-responsive img-thumbnail', alt: ''
    .col-sm-8
      h1.profile-user-name
        = @user.user_name
      - if @user == current_user
        = link_to 'Edit Profile', edit_profile_path(@user.user_name), class: 'profile-edit-link btn', role: 'button'
      h4
        = @user.bio
#posts-container
  = render @posts
#paginator
  = link_to_next_page @posts, 'Load More', :remote => true, class: 'btn btn-default', role: 'button'

