.col-md-4.col-md-offset-4
  .panel.panel-default
      h3.text-center
        | Create an account
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .panel-body
          = f.error_notification
          = f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email', input_html: { class: 'form-control input-lg' }
          = f.input :user_name, required: true, label: false, placeholder: 'User Name', input_html: { class: 'form-control input-lg' }
          = f.input :password, required: true, label: false, placeholder: 'Password', input_html: { class: 'form-control input-lg' }
          = f.input :password_confirmation, required: true, label: false, placeholder: 'Confirm Password', input_html: { class: 'form-control input-lg' }
          = f.button :submit, "Sign up", class: 'btn-lg btn-info btn-block'
