$('#comments_<%= @post.id %>').append("<%=j render 'comments/comments', comments: [@comment], post: @post%>"); <%# there are brackets because comments should be an iterator%>
$('#comment_content_<%= @post.id %>').val('')
