.posts-wrapper
  .post
    .post-body
      .image-wrap
        - if @post.image.exists?
          - curr_image = @post.image.url(:medium)
        - else
          - curr_image = 'placeholder.jpg'
        = image_tag curr_image, id: 'image-preview', class: 'img-responsive', alt: ''
        = simple_form_for @post, html: { multipart: true } do |f|
          .row
            .col-md-12.text-center
              = f.error_notification
          .container-fluid
            .form-group.text-center
              h4 Upload an image:
              = f.input :image, label: false, input_html: { onChange: 'loadFile(event)' }
            .form-group.text-center
              = f.input :caption, as: :text, label: false, placeholder: 'Add a caption', input_html: { class: 'form-control' }
            .form-group.text-center
              = f.button :submit, class: 'btn-success btn-block'
