.posts-wrapper
  .post
    .post-head
      .thumb-img
      .user-name
        = link_to post.user.user_name, profile_path(post.user.user_name)
      .time-ago
          = time_ago_in_words post.created_at
    .image.center-block
      = link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post)
    .post-bottom
      = render 'posts/likes', post: post
      .caption
        .caption-content
          .user-name
            = link_to post.user.user_name, profile_path(post.user.user_name)
          = post.caption
        .comments id="comments_#{post.id}"
          - if post.comments.count > Post.comment_limit
            .load-all-comments
              = link_to "Load all #{post.comments.count} comments", post_comments_path(post), id:"link-text", remote: true
          - if post.comments
            = render 'comments/comments', comments: post.last_comments, post: post
    .comment-like-form.row
      = link_to like_post_path(post), remote: true do
        .like-button.col-sm-1
          span class="glyphicon #{liked_post post}" id="heart-post-#{ post.id }"
      .comment-form.col-sm-11
        = form_for([post, post.comments.build], remote: true) do |f|
          = f.text_field :content, placeholder: 'Add a comment...', class: "comment_content", id: "comment_content_#{post.id}", autocomplete: :off
