$('#heart-post-<%= @post.id %>').removeClass('<%= not_liked_post @post %>').addClass('<%= liked_post @post%>');
$("#likes_<%= @post.id %>").html("<%= j (render partial: 'posts/likes', locals: { post: @post} ) %>");

