= render 'post', post: @post
.text-center.edit-links
  - if @post.user_id == current_user.id
    = link_to "Edit Post", edit_post_path(@post)
    '  |
    = link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }
    '  |
  = link_to "Cancel", posts_path
