.nav.navbar.navbar-default
  .navbar-container
    .navbar-header
      button.navbar-toggle.collapsed data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button"
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
      .navbar-brand
        = link_to "MMBTI, much much better than instagram", root_path
    .collapse.navbar-collapse#bs-navbar-collapse-1
      ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          li
            = link_to "New Post", new_post_path
          li
            = link_to "Logout", destroy_user_session_path, method: :delete
        - else
          li
            = link_to "Login", new_user_session_path
          li
            = link_to "Register", new_user_registration_path
