doctype html
html
  head
    title Mmbti
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body id="#{controller_name}-#{action_name}"
    = render 'layouts/navbar'
    -flash.each do |name, msg|
      = content_tag :div, msg, class: [:alert, alert_for(name)]
    == yield
